{% extends "components/base.html" %}
{% load static %}
{% block main %}

<article
  class="rounded-lg border border-gray-100 bg-white p-4 shadow-sm transition hover:shadow-lg sm:p-6"
>
  <span class="inline-block rounded bg-blue-600 p-2 text-white">
      {% if post.image %}
        <img src="{% static post.image.url %} " alt=""/>
      {% else %}
          <img
        alt="Guitar"
        src="https://images.unsplash.com/photo-1609557927087-f9cf8e88de18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
        class="aspect-square h-10 w-10 object-cover"
        />
      {% endif %}
  </span>

  <a href="#">
    <h3 class="mt-0.5 text-lg font-medium text-gray-900">
      {{ post.title }}
    </h3>
  </a>

  <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
  {{ post.description }}
  </p>

</article>

    <div class="container px-4 py-5 bg-light card" id="hanging-icons">
        <h2 class="pb-2 border-bottom">Комментарии:</h2>
         <form action="{% if post.id %}{% url 'comments' post.id %}{% endif %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal text-center">Ваш комментарий:</h1>
    <label for="UserEmail" class="relative block overflow-hidden rounded-md border border-gray-200 px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600">
        <input name="text" type="text" id="UserEmail">
    </label>
</form>

    </div>
    <hr/>

    <div class="comment-list row g-4 py-5 row-cols-1 row-cols-lg-3">
        {% for comment in comments %}
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">{{ comment.author.username }}</h3>
                <p>{{ comment.text }}</p>
                <hr class="m-0 p-1"/>
                <p class="text-secondary small">{{ comment.date_time }}</p>
                <a href="#" class="group relative inline-block text-sm font-medium text-red-600 focus:outline-none focus:ring active:text-red-500">
                    Пожаловаться!
                </a>
            </div>
        </div>
        {% empty %}
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fs-2 text-body-emphasis">Комментариев нет!</h3>
                <p>Вы можете быть первыми!</p>
            </div>
        </div>

        {% endfor %}
    </div>


{% endblock main %}